<!DOCTYPE html>
<html lang="en">
<head>
    <title>Blog - Single Post</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<%- include('partials/header') %>
<div class="container">
    <div class="post-preview">
        <a href="post.html">
            <h2><%= post.title %></h2>
        </a>
        <p><%= post.body %></p>
        <p class="post-meta">Posted by
            <a href="#">Start Bootstrap</a>
            on September 18, 2019</p>
    </div>
  <a href="/posts/<%= post.id %>> <button /edit" type="button" class="btn btn-primary">Edit</button> </a>
    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal">Delete</button>
</div>


<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Modal Heading</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
This operation will delete post !
                ARE YOU SURE ?
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <a href="/posts/<%= post.id %>/delete" >  <button type="button" class="btn btn-info"  >Delete</button> </a>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>
</body>
</html>
